.section_header{
    width: 100%;
    height: 1100px;
    background: url(../img/bg\ img.png) center center;
    background-size: cover;
}

.header{
    background: url(../img/Ellipse\ 1.png) top left;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.nav{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 887px;
}

.link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #E8E6F8;
    transition: 0.5s;
}

.link:hover{
    font-size: 17px;
}

.link::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fdfdfd;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.link:hover::after{
width: 100%;
}

.text_header{
    width: 700px;
    height: 400px;
    margin-left: 180px;
}

.big_text_header{
    font-family: "Patrick Hand", sans-serif;
    font-weight: 600;
    font-size: 90px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FCFDFF;
    margin-bottom: 40px;
}

.small_text_header{
    font-family: "Dosis", sans-serif;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}

.button{
    width: 299px;
    height: 66px;
    background: linear-gradient(92.57deg, #2F8FFF 0%, #2F73F6 100%);
    box-shadow: 0px 10px 40px rgba(31, 93, 234, 0.25);
    border-radius: 40px;
    border: none;
    margin-top: 63px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_text{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
}

.button_icon{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.arrow_long{
    font-size: 25px;
    color: #4659FF;
    margin-left: 4px;
}

.fa-circle{

    font-size: 5px;
    color: #4659FF;
}

/* Запитати Христю як обєднати button, щоб можна було добавити hover на загальну групу */


.advantages_section{
    background: url(../img/bg&polygons\ -\ 2_90+\ games.png) bottom center;
    background-size: contain;
    background-repeat:no-repeat;
    width: 100%;
}

.our_advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.ad_text{
    width: 35%;
}

.ad_title{
    font-family: "Patrick Hand", sans-serif;
    font-weight: 800;
    font-size: 90px;
    line-height: 100%;
    text-transform: uppercase;
    color: #2A2FA3;
    margin-top: 100px;
}

.ad_small_text{
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;
    color: #222A3F;
    width: 90%;
    margin-top: 40px;
}

.bold_text{
    font-weight: 600;
}

.ad_icon{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 60%;
}

.game_icon{
    width: 286px;
    height: 286px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
    border-radius: 28px;
}

.more_info{
    width: 36px;
    height: 36px;
    opacity: 0.8;
    position: relative;
    top: -100px;
    left: 230px;
}

.polygon{
    position: relative;
    top: 30px;
    left: 30px;
    z-index: 1;
}

.vector{
    position: relative;
    top: -20px;
    left: -80px;
    z-index: 2;
}

.first_vector{
    left: -65px;
}

.first_group{
    top: -15px;
    left: -70px;
}

.second_group{
    left: -70px;
    top: -30px;
}

.game_icon_text{
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #222A3F;
    margin-top: 50px;
}

.game_icon:first-child{
    position: relative;
    left: 120px;
}

.game_icon:nth-child(2){
    position: relative;
    top: 100px;
    left: 200px;
}

.game_icon:nth-child(3){
    position: relative;
    top: 60px;
}

.game_icon:last-child{
    position: relative;
    top: 200px;
    left: 80px;
}

.game_header{
    width: 90%;
    margin: 0 auto;
}

.game_big_title{
    font-family: "Patrick Hand", sans-serif;
    font-weight: 600;
    font-size: 170px;
    line-height: 90%;
    color: #FFFFFF;
    margin-top: 215px;
}

.game_text{
    font-family: "Patrick Hand", sans-serif;
    font-weight: 800;
    font-size: 90px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.game_middle{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.game_small_text{
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 155%;
    color: #FFFFFF;
    text-align: left;
    margin-top: 40px;
}

.btn_game{
    width: 253px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 20px 30px;
}

.fa-eye{
    color: #2A2FA3 ;
    font-size: 30px;
}

.btn_text{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #363078;
    margin-right: 15px;
}

.game_all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 210px;
    
}

.game_box{
    width: 310px;
    height: 344px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
    border-radius: 30px;
}

.game_img{
    width: 250px;
    height: 350px;
    background: url(bath-trouble-bg-1.jpg);
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    margin-top: -130px;
}

.rating{
    position: relative;
    top: -325px;
    left: 50px;
    height: 42px;
    width: 54px;
    border-radius: 14px;
    background: #363078;
    font-size: 20px;
    line-height: 42px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.btn_container{
    width: 255px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.btn_game_box{
    background: #FFFFFF;
    border: 2px solid #F2F4F9;
    box-sizing: border-box;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    padding: 10px 10px 12px;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #9594AA;
}

.game_box:nth-child(2){
    height: 310px;
    width: 290px;
    margin-top: -20px;
}

.game_box:nth-child(4){
    height: 310px;
    width: 290px;
    margin-top: -20px;
}



.game_second_img{
    width: 230px;
    height: 315px;
}

.second_rating{
    top: -285px;
}

.second_dtn_container{
justify-content: center;
}

.all_btn_footer_game{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-top: 70px;
    padding-bottom: 200px;
    filter: drop-shadow(0px 2px 14px rgba(61, 70, 118, 0.14));
}

.btn_game_footer{
    width: 94px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 32px;
    border: none;
}

.button_footer{
    font-size: 33px;
    color: #4659FF; 
}




.type_section{
    width: 100%;
    background: url(../img/bg&polygons\ -\ 3_types\ of\ floors.png) top right no-repeat;
    background-size: contain;
    margin-top: -150px;
}

.header_type{
    width: 85%;
    margin-left: 40px;
}

.type_title{
    text-align: center;
}

.type_description{
    font-family: "Dosis",sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 155%;
    text-align: center;
    color: #222A3F;
    margin-top: 38px;
    margin-bottom: 60px;
}

.btn_type_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.btn_type{
    width: 192px;
    height: 63px;
    border: 2.5px solid #F2F4F9;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #9A98AF;
}

.btn_type:first-child{
    color: #2376F2;
}

.main_type{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 102px;
}

.img_type{
    width: 100%;
}

.main_img_background{
    width: 616px;
    height: 440px;
    background: #F1F6FE;
    border-radius: 30px;
    z-index: 1;
}

.big_img_type{
position: relative;
top: -30px;
left: -5px; 
z-index: 2;
}

.arrow{
    position: relative;
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    margin-top: -140px;
    margin-left: 470px;
}

.small_img_type{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
}

.small_img_type_box_text{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -100px;
}

.img_type_footer{
    margin-top: -80px;
}

.text_type{
    width: 85%;
    margin-top: -50px;
}

.text_header_type{
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #222A3F;
}

.text_description_type{
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 155%;
    margin-top: 10px;
}

.content_list{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.type_list{

}

.type_list_item{
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 155%;
    margin-bottom: 20px;
}

.fa-check{
    color: #2376F2;
    margin-right: 20px;  
}

.price_section{
    width: 100%;
    background: url(../img/bg&polygons\ -\ 4_price.png) top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
}

.price_title{
    color: #FFFFFF;
    padding-top: 600px;
} 

.price_description{
    color: #FFFFFF;
}

.price_content{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px; 
    margin-bottom: 30px;
}

.price_box{
    width: 460px;
    height: 719px;
    background: #FFFFFF;
    box-shadow: 0px 18px 60px rgba(61, 70, 118, 0.1);
    border-radius: 30px;
}

.img_price{
    display: block;
    margin-left: 50px;
    margin-bottom: 50px;
}

.border_img_price{
    border-radius: 30px;
}

.text_price{
    text-align: center;
}

.prace{
    font-family: "Dosis", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    color: #311F65;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 60px;
}

.button_price{
    width: 236px;
    height: 66px;
    background: linear-gradient(97.95deg, #1F5DEA 14.71%, #5C16CE 90.23%);
    margin: 0 auto;
}

.warranty{
    width: 100%;
    background: url(../img/Vector\ 18.png) center left no-repeat;
    background-size: inherit;
}

.container_warranty{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 0;
}

.left_section{
    width: 50%;
}

.bold_title{
    font-family: "Patrick Hand", sans-serif;
    font-weight: 800;
    font-size: 170px;
    line-height: 90%;
    color: #2F73F6;
    text-transform: uppercase;
    text-align: right;
    margin-top: 200px;
}

.warranty_title{
    margin-top: 0px;
    text-align: center;
    margin-left: 22%;
    color: #2F73F6;
}

.text_warranty{
    margin-top: 100px;
    
}

.warranty_icon{
    position: relative;
    left: 30px;
}

.warranty_icon:last-child{
    position: relative;
    left: 350px;
    top: -130px;
}

.middle{
    width: 100%;
    background: url(../img/Union.png) bottom center no-repeat;
    background-size: contain;
}

.package_title{
   text-align: left;
   margin-left: 200px;
   font-size: 85px;
}

.package_text{
    text-align: left;
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 48px;
}

.package_container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.package_list{
    width: 30%;
}

.middle_item{
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 155%;
    color: #222A3F;
    margin-bottom: 20px;
    margin-left: 85px;
    display: flex;  
    align-items: center;
}

.package_icon{
    color: #9594AA;
    padding-right: 20px;
}

.get_title{
    margin-top: 250px;
    color: #FFFFFF;
}

.get_description{
    color: #FFFFFF;
}

.get_container{
    width: 90%;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.get_icon{
    width: 270px;
    height: 270px;;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
    border-radius: 28px;

}

.get_text{
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #222A3F; 
}

.get_footer{
width: 100%;
height: 250px;
}





