header {
    background-image: url(../Images/Header/bgimg.png);
    height: 1290px;
    max-width: 1920px;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    width: 63%;
}

.logo {
    margin-top: 15px;
}

.menu {
    display: flex;
    margin-top: 50px;
    gap: 90px;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.main-tittle {
    margin-left: 365px;
    margin-top: 140px;
}

.tittle {
    font-family: 'Lifehack-Sans', sans-serif;
    color: white;
    font-size: 135px;
    line-height: 120px;
    width: 600px;
}

.subtittle {
    font-family: "Dosis";
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px;
}

.icons {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40px;
    gap: 30px;
    margin-left: -135px;
    margin-top: -130px;
}

.header-button {
    height: 72px;
    width: 340px;
    border-radius: 40px;
    background-color: #2F8FFF;
    border: none;
    background-image: url(../Images/Floors/next.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 0.3px;
    font-family: "Dosis";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: white;
    margin-top: 105px;
    margin-left: 13px;
    text-indent: 40px;
}

@media screen and (max-width: 1440px) {
    header {
        background-image: url(../Images/Header/bg1440.png);
        background-size: auto;
        margin: 0 auto;
        width: 100%;
        height: 1035px;
    }

    .main-tittle {
        margin-left: 12%;
    }

    .icons {
        margin-top: -232px;
    }

    .text-advantage {
        width: 60%;
        padding: none;
    }

    .nav {
        margin-left: 15px;
        width: 90%;
    }    
}